<meta charset="utf-8" />
<title>IOT物联网系统</title>
<meta content="width=device-width, initial-scale=1.0,user-scalable=no" name="viewport" />
<meta name="renderer" content="webkit" />
<meta content="" name="description" />
<meta content="" name="author" />
<link rel="shortcut icon" href="__STATIC__/media/image/favicon.ico" />
<script src="__STATIC__/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="__STATIC__/js/vue.js"></script>
<link href="__STATIC__/css/css.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/js/layui/css/layui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__STATIC__/js/layui/layui.js"></script>
<script type="text/javascript" src="__STATIC__/js/laydate/laydate.js"></script>
<script type="text/javascript">
    layui.use(['layer'], function () {
        var layer = layui.layer
    });

</script>
<style>
    [v-cloak] {
        display: none;
    }
</style>