<div class="page-sidebar nav-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <div class="user-div">
        <span class="title sidebar-title">admin</span>
    </div>
    <ul class="page-sidebar-menu">
        <li class="start">
            <a href="__APP__/main">
                <i class="icon-home"></i>
                <span class="title">
                    主菜单
                </span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="__APP__/iot/index">
                <i class="icon-sitemap"></i>
                <span class="title"> 设备列表</span>
            </a>
        </li>
        <li>
            <a href="__APP__/keys/index">
                <i class="icon-sitemap"></i>
                <span class="title"> API密钥</span>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="login_out">
                <i class="icon-sitemap"></i>
                <span class="title"> 退出</span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<script>
    $(function () {
        $(".login_out").click(function () {
            layer.confirm('确定要安全退出吗?', {
                title: '提示',
                btn: ['确定', '取消']
            }, function () {
                layer.closeAll();
                layer.msg('正在退出...', { icon: 16, shift: 2, time: 0, shade: [0.1, '#000'] });
                $.ajax({
                    type: 'post',
                    url: "__APP__/index/login_out",
                    dataType: 'json',
                    success: function (d) {
                        layer.msg(d.msg);
                        setTimeout(function () {
                            window.location.href = "__APP__/index";
                        }, 1000);
                    }
                });
            });
        });
    });
    window.onload = function () {
        $(".page-sidebar-menu li").each(function () {
            var th = this;
            if($(th).find('a').attr('href').indexOf(window.location.href.replace('__APP__','')) != -1) {
                $(th).addClass('open');
            }
        });};
</script>