body{
	margin: 0;
	padding: 0;
}
*{
	margin: 0;
	padding: 0;
}
div{box-sizing: border-box;}
a{text-decoration: none;}
.flex{
	display: flex;
}
.flex-c{
	display: flex;
	align-items: center;
}
.flex-cb{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-cc{
	display: flex;
	align-items: center;
	justify-content: center;
}
.fb{font-weight: bold;}
.fw{font-weight: 300;}
.f10{font-size: 10px;}
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f15{font-size: 15px;}
.f16{font-size: 16px;}
.f17{font-size: 17px;}
.f18{font-size: 18px;}
.f19{font-size: 19px;}
.f20{font-size: 20px;}
.f21{font-size: 21px;}
.f22{font-size: 22px;}
.f23{font-size: 23px;}
.f24{font-size: 24px;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml-10{margin-left: -10px;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.w100{width: 100px !important;}
.w120{width: 120px !important;}
.w140{width: 140px !important;}
.w160{width: 160px !important;}
.w180{width: 180px !important;}
.w200{width: 200px !important;}
.w240{width: 240px !important;}
.w180{width: 180px !important;}
.w300{width: 300px !important;}
.w340{width: 340px !important;}
.w360{width: 360px !important;}
.w400{width: 400px !important;}
.w440{width: 440px !important;}
.w500{width: 500px !important;}
.w600{width: 600px !important;}
.kd-content{
	background: #fff;
	border-radius: 10px;
	padding: 15px;
}
.kd-small-table{
	.arco-table-td-content{
		font-size: 12px;
	}
}
.kd-link{
	cursor: pointer;
	color: #165dff;
}
.tips{
	color: #999;
	font-size: 12px;
}