
.flex {
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}

.flex_a_c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex_j_a {
    /*-webkit-box-pack: justify;*/
    /*-ms-flex-pack: justify;*/
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.flex_j_b {
    /*-webkit-box-pack: justify;*/
    /*-ms-flex-pack: justify;*/
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex_j_c {
    /*-webkit-box-pack: justify;*/
    /*-ms-flex-pack: justify;*/
    -webkit-justify-content: center;
    justify-content: center;
}
.flex_d_c{
    flex-direction: column;
}
.flex_w_w{
    flex-wrap: wrap !important;
}
.text-center{
    text-align: center !important;
}
.empty-td{
    height: 1.2rem !important;
    font-size: 12px !important;
}