@font-face {
  font-family: "iconfont"; /* Project id 5059220 */
  src: url('iconfont.woff2?t=1763545710516') format('woff2'),
       url('iconfont.woff?t=1763545710516') format('woff'),
       url('iconfont.ttf?t=1763545710516') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--shengchanzuoye:before {
  content: "\e63e";
}

.icon-dapengfenjian:before {
  content: "\e65e";
}

.icon-dapeng:before {
  content: "\e668";
}

.icon-jiankongshexiangtou:before {
  content: "\e901";
}

.icon-jingbao:before {
  content: "\e643";
}

.icon-yonghu:before {
  content: "\e667";
}

.icon-wangguanshebei:before {
  content: "\e602";
}

.icon-18jiankonggailan:before {
  content: "\e6ab";
}

.icon-tongji:before {
  content: "\e644";
}

.icon-wangguanshebei1:before {
  content: "\e692";
}

